.section{
  overflow: none;
  background-color:#000000;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
  margin:0;
  height:fit-content;

}

.illustration{
  
  width:fit-content;
  z-index:2;

}

.illustration img{
  width:20%;

}

.text-box{
  position:absolute;
  margin-right: 0;
  margin-top: 0;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1),black, black, black ,black );
  height: inherit;
  width:100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index:4;
  align-items:center;

}

.border{
  background:linear-gradient(to right, #C0AB1C, #EAEE59, #C0AB1C);
  height: 5px;
  width: 100%;
  margin:0;
}


/* .statuegauche{
    margin-top:20px;
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      border-width:5px 0px 5px 0px;
      border-style:solid;
      border-color:#FFD700;
      
  }
  

  
  .discover{
    color:white;
    text-align:center;
    font-size:30px;
  }
  
  a{
    color:white;
    text-decoration:none;
  }
  
  .statuedroite{
    margin-top:20px;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-width:5px 0px 5px 0px;
    border-style:solid;
    border-color:#FFD700;
    
  }
  
  .az{ /*classe contenant l'image de madara*/
  /*margin-left:20px;
  margin-top:50px;
  width:45%;
  
  }
  
  .news{ /*classe contenant le texte descritpif de broly
  color:white;
  text-align:center;
  width:45%;
  } */
  
  /*CSS pour le carrousel
  @keyframes tonext {
      75% {
        left: 0;
      }
      95% {
        left: 100%;
      }
      98% {
        left: 100%;
      }
      99% {
        left: 0;
      }
    }
    
    @keyframes tostart {
      75% {
        left: 0;
      }
      95% {
        left: -300%;
      }
      98% {
        left: -300%;
      }
      99% {
        left: 0;
      }
    }
    
    @keyframes snap {
      96% {
        scroll-snap-align: center;
      }
      97% {
        scroll-snap-align: none;
      }
      99% {
        scroll-snap-align: none;
      }
      100% {
        scroll-snap-align: center;
      }
    }
  