@font-face {
  font-family: "Autography";
  src: url("/res/font/Autography.otf") format("otf"),
 }


 @font-face {
  font-family: "MSGothic";
  src: url("/res/font/msgothic.ttc") format("ttc"),
 }

body{
  margin: 0;
  width: 100%;
  background-color:#1D1D1D;
}

/* header */

header {
    background-color: #303030;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.main-logo {
  flex-grow: 0;
}

.pu{
    width: 125px;
    height: 110px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input{
  border-radius: 5px 0 0 5px;
  width: 450px;
  height: 30px;
  border:none;
}

.search-button{
  border-radius: 0 5px 5px 0;
  width: 35px;
  height: 30px;
  background-color:#1D1D1D;
  border:none;
}

.search-logo{
  width: 17px;
  height: 17px;
  margin-left: 0;
}

/* header */


/* footer */

footer {
  margin-top: 50px;
  background-color: #303030;
  width: 100%;
  height: 230px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: top;
}

.footer-top {
  width: 99%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-bottom{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-left {
  width: 25%;
  text-decoration: #fff;
}

.footer-ul {
  list-style: none;
}

.footer-li {
  height: 10px;
}

.footer-right {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-hr{
  color :rgb(110, 110, 110);
  width: 99%;
  height: 3px;
}

ul, p {
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}


.statuegauche{
  margin-top:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-width:5px 0px 5px 0px;
    border-style:solid;
    border-color:#FFD700;
    
}

.te{ /*classe contenant l'image de broly*/
  margin-left:20px;
  margin-top:50px;
  width:45%;
  
}

.discover{
  color:white;
  text-align:center;
  font-size:30px;
}

a{
  color:white;
  text-decoration:none;
}

.statuedroite{
  margin-top:20px;
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-width:5px 0px 5px 0px;
  border-style:solid;
  border-color:#FFD700;
  
}

.az{ /*classe contenant l'image de madara*/
margin-left:20px;
margin-top:50px;
width:45%;

}

.news{ /*classe contenant le texte descritpif de broly*/
color:white;
text-align:center;
width:45%;
}

/*CSS pour le carrousel
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

/* footer */


